.nutrition-card {
  display: flex;
  align-items: center;
  width: 258px;
  height: 124px;
  margin-top: 39px;

  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
}

.nutrition-card:first-child {
  margin-top: 0px;
}

.icon-card {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  margin-left: 32px;
  margin-right: 24px;
}

.value {
  font-weight: 700;
  font-size: 20px;
  color: var(--black-text);
}

@media screen and (max-width: 1400px) {
  .nutrition-card {
    width: 180px;
    height: 110px;
    margin-top: 36px;
    font-size: 12px;
  }

  .icon-card {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 16px;
  }

  .value {
    font-weight: 700;
    font-size: 16px;
  }
}
