.dashboard {
  display: flex;
  width: 100%;

  padding-top: 77px;
}

.dashboard-left {
  width: min(835px, 100%);
  margin-right: 31px;
}

.bottom-charts {
  display: flex;
  margin-top: 30px;
}

.bottom-chart {
  position: relative;
  height: 263px;
  width: 258px;
  margin-right: 30px;
}

.bottom-chart:last-child {
  margin-right: 0;
}

.spider-chart {
  background-color: #282d30;
}

.sessions-chart {
  position: relative;
  background-color: #ff0000;
}

.radial-chart {
  background-color: var(--grey-card-bg);
}

@media screen and (max-width: 1400px) {
  .dashboard {
    padding-top: 20px;
  }
  .dashboard-left {
    width: 640px;
    height: 280px;
    margin-right: 24px;
  }
  .bottom-chart {
    height: 200px;
    width: 200px;
    margin-right: 20px;
  }
}
